# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.next-tasks/

# Environment
.env
.env.local
.env.*.local

# Prisma
.prisma/
*.sqlite
*.db
.migrations/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
logs
*.log
